# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rapp.history
*.Rproj.user/
.Rproj.user/

# renv
renv/library/
renv/staging/
renv/python/
renv/local/
renv.lock.bak

# Quarto / outputs
.quarto/
_site/
*.knit.md
*.utf8.md
/.quarto/
**/.quarto/
**/*_cache/
**/*_files/

# Reports
reports/_site/

# Logs
*.log
session_info.txt

# Shiny
rsconnect/

# OS
.DS_Store
Thumbs.db

